img{
    max-width: 100%;
    max-height: 100%;
}

div{
    width: 200px;
    padding: 5px;
}


.info-encabezado{
    padding: 15px;
}

#skills, td{
    border: solid;
}

body{
  background-color: #C0EEF2;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h1,h2{
  color: #181823;
}
